body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

h2, h3 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: auto;
    height: 30px;
    margin-right: 10px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6.5px;
    text-align: center;
}

button {
    display: block;
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    border-radius: 7px;
}

button:hover {
    background-color: #0056b3;
}

/* Displaying Results */
p {
    margin-bottom: 10px;
    font-weight: bold;
}

hr {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
  
}
::placeholder {
   text-align: center; 
   font-size:medium;

}

/* footer */

footer {
    border-radius: 7px;
    background-color:rgb(216, 222, 229);
    padding: 10px;
    text-align: center;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
  }
  
  .footer-social a {
    margin-right: 20px;
  }
  
  .footer-social img {
    justify-content: center;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
  }
  
  .footer-social img:hover {
    transform: scale(1.2);
  }
  
 